<hr>

<div>
  <%= link_to 'Sign in with twitter', '/auth/twitter', data: {method: :post}, class: 'btn btn-lg btn-primary' %>
  <%= link_to 'Sign in with facebook', '/auth/facebook', data: {method: :post}, class: 'btn btn-lg btn-primary' %>
</div>

<hr>
