<p>
  This is a very simple site with the purpose of remembering links to places
  you visit on a regular basis. You can enter a site and which days of the week
  you want to check it. Every day, you can come back here and see a list of all
  your sites for today.
</p>

<p>
  If you'd like to try it out, just sign in below and you can destroy your
  account whenever you like.
</p>

<%= render 'shared/logins' %>

<p>
  If you have any problems with it or want to see more features here, you can
  write me an email at <%= andrews_email %>.

  <br />

  Or, better yet, file an issue on the
  <%= link_to 'github issue tracker', 'https://github.com/AndrewRadev/daily-sites/issues' %>.
</p>
