<p class="qa">
  <p class="q">
    Why not just use an RSS feed?
  </p>
  <p class="a">
    For a lot of sites that's perfectly reasonable, but there are a few
    exceptions. For example, you might want to regularly check google for
    information on a particular subject -- when there's news about it, you'll
    know. There are also some sites that publish content with a particular
    schedule, like webcomics. Personally, I prefer to look at the actual comic
    site instead of going through a feed reader.
  </p>
</p>

<p class="qa">
  <p class="q">
    Why is the site so ugly?
  </p>
  <p class="a">
    I'm a programmer, not a designer. I'm also lazy. That's why I just used
    Ryan Bates' nifty scaffold gem to generate the basic layout. I'll probably
    play around with css later on, but for now, it works just fine with me as
    it is.
  </p>
</p>
